In [1]:
# proportions_ztest
# https://www.statsmodels.org/dev/generated/statsmodels.stats.proportion.proportions_ztest.html

In [2]:
import numpy as np
from statsmodels.stats.proportion import proportions_ztest
count = np.array([5, 12])
nobs = np.array([83, 99])
stat, pval = proportions_ztest(count, nobs)
print('{0:0.3f}'.format(pval))

0.159

In [3]:
count = 5
nobs = 83
value = .05
stat, pval = proportions_ztest(count, nobs, value)
print('{0:0.3f}'.format(pval))

0.695

In [2]:
# 
# https://medium.com/analytics-vidhya/testing-a-difference-in-population-proportions-in-python-89d57a06254
import numpy as np
import pandas as pd
import scipy.stats.distributions as dist

In [3]:
data = pd.read_csv('train.csv')

In [4]:
data['Survived'] = data['Survived'].map({1:'Survived',0:'Not Survived'}) #Encode the values

In [14]:
data.Sex

1      female
3      female
6        male
10     female
11     female
        ...
871    female
872      male
879    female
887    female
889      male
Name: Sex, Length: 183, dtype: object

In [13]:
data.Survived

1          Survived
3          Survived
6      Not Survived
10         Survived
11         Survived
           ...
871        Survived
872    Not Survived
879        Survived
887        Survived
889        Survived
Name: Survived, Length: 183, dtype: object

In [5]:
data = data.dropna() #Drop the nan values
contingency_table = pd.crosstab(data.Survived,data.Sex) #Contingency Table
contingency_table

Sex           female  male
Survived
Not Survived       6    54
Survived          82    41

In [6]:
pd.crosstab(data.Survived,data.Sex).apply(lambda r:r/r.sum(),axis=0)

Sex             female      male
Survived
Not Survived  0.068182  0.568421
Survived      0.931818  0.431579

In [7]:
total_proportion_survived = (data.Survived == "Survived").mean()
num_female = data[data.Sex=="female"].shape[0]
num_male = data[data.Sex=="male"].shape[0]

In [8]:
assert num_female*total_proportion_survived>10, "Assumptions not met"
assert num_male*total_proportion_survived>10, "Assumptions not met"
assert num_female*(1-total_proportion_survived)>10, "Assumptions not met"
assert num_male*(1-total_proportion_survived)>10, "Assumptions not met"

In [9]:
#This table helps us to calculate the SE.
prop = data.groupby("Sex")["Survived"].agg([lambda z: np.mean(z=="Survived"), "size"])
prop.columns = ['proportions_survived','total_counts']
prop.head()

        proportions_survived  total_counts
Sex
female              0.931818            88
male                0.431579            95

In [10]:
#Calculating standard error
variance = total_proportion_survived * (1 - total_proportion_survived)
standard_error = np.sqrt(variance * (1 / prop.total_counts.female + 1 / prop.total_counts.male))
print("Sample Standard Error",standard_error)

Sample Standard Error 0.06945435736849903

In [11]:
# Calculate the test statistic 
best_estimate = (prop.proportions_survived.female - prop.proportions_survived.male)
print("The best estimate is",best_estimate)
hypothesized_estimate = 0
test_stat = (best_estimate-hypothesized_estimate) / standard_error
print("Computed Test Statistic is",test_stat)

The best estimate is 0.5002392344497607
Computed Test Statistic is 7.202416859113346

In [12]:
# Calculate the p-value
pvalue = 2*dist.norm.cdf(-np.abs(test_stat)) # Multiplied by two indicates a two tailed testing.
print("Computed P-value is", pvalue)

Computed P-value is 5.915451296155379e-13

plan:

continue edge analysis but not with t test, with test of proportions

do not combine uncouple and leading

try betweeness and degree centrality, using nx.add_from_numpy_array

stats test on channels

H behaviral with EEG


Finish paper in June and advance in summer